<div class="recorder-controls">
  <button (click)="startRecording()">🎙️ Start Recording</button>
  <button (click)="stopRecording()">⏹️ Stop Recording</button>
</div>

<div class="recordings-list">
  <h3>Recordings</h3>
  <ul>
    @for (key of recordingKeys; track key) {
    <li>
      {{ key }}
      <button (click)="playRecording(key)">▶️ Play</button>
    </li>
    }
  </ul>
</div>

<div
  class="w-[100px] h-[100px] pt-[10px] flex justify-center bg-amber-400 rounded-xl drop-shadow-lg"
>
  <div
    class="w-[20px] h-[5px] bg-green-300 rounded-xl border border-black"
  ></div>
</div>
