<!-- <div class="recorder-controls">
  <button (click)="startRecording()">🎙️ Start Recording</button>
  <button (click)="stopRecording()">⏹️ Stop Recording</button>
</div>

<div class="recordings-list">
  <h3>Recordings</h3>
  <ul>
    @for (key of recordingKeys; track key) {
    <li>
      {{ key }}
      <button (click)="playRecording(key)">▶️ Play</button>
    </li>
    }
  </ul>
</div> -->

<div
  (click)="toggleRecording()"
  class="w-[100px] h-[100px] m-[5px] flex justify-center bg-amber-400 rounded-xl drop-shadow-lg"
>
  <div
    class="w-[20px] h-[5px] mt-[10px] bg-green-300 rounded-xl border border-black"
  ></div>

  @switch (state) { @case ('empty') {
  <div class="text-center text-black">Click to record</div>
  } @case ('recording') {
  <div class="text-center text-black">Recording...</div>
  } @case ('ready_to_play') {
  <div class="text-center text-black">Ready to play</div>
  } @case ('playing') {
  <div class="text-center text-black">Playing...</div>
  } }
</div>
